<div class="page-header contact">
  <div class="inner">
    <h1 class="page-title">Contact</h1>
  </div>
</div>

<div class="inner contact">
  <p>If you're keen to contribute a guide or two, or if you just want to let me know that I'm doing a good job (aww shucks), drop me a line.</p>

  <h2>mountainsofhokkaido -at- gmail -dot- com</h2>
</div>