@media only print {
  // some rules so that the show pages don't have a big black square on them
}

@media only screen and (max-width: 660px) {.details-sidebar .details {
		flex: 50%;
		margin-bottom: 15px;
		&:nth-child(3) {
			flex: 100%;
		}
  }
}
